Repository Claire-s-Monster/ci-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, feature, tests, performance

.github/labeler.yml:

# Configuration for the PR Labeler action.
# Defines which labels to apply based on file paths.

# Add 'ci' label to any changes within the .github directory
ci:
  - '.github/**'

# Add 'documentation' label to any changes in docs or markdown files
documentation:
  - 'docs/**'
  - '*.md'

# Add 'feature' label to changes in the source directory
feature:
  - 'src/**'

# Add 'tests' label to changes in the tests directory
tests:
  - 'tests/**'

# Add 'performance' label to performance-related files
performance:
  - 'tests/performance/**'
  - 'benchmarks/**'

fix: CI improvements for dependabot and push events (#123)
  .github/workflows/branch-policy.yml
  .github/workflows/reusable-ci.yml
  .gitignore
  GEMINI.md
Labels: ci, documentation

Update development v2.4.2 (#128)
  .github/workflows/branch-policy.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/release-please.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-gemini-ai.yml
  .github/workflows/self-healing.yml
  .gitignore
  .release-please-manifest.json
  CHANGELOG.md
  GEMINI.md
  pyproject.toml
Labels: ci, documentation

feat: rewrite standalone-ci.yml as fully self-contained template
  .github/workflows/standalone-ci.yml
Labels: ci

fix: remove ci-framework runtime dependencies from reusable workflow
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
Labels: ci

test: add custom workflow linter and structural validation tests
  .github/workflows/ci.yml
  framework/tests/workflows/test_reusable_workflow_lint.py
  framework/workflow_lint.py
Labels: ci

fix: resolve CI lint failures and standalone trigger noise
  .github/workflows/standalone-ci.yml
  framework/tests/workflows/test_reusable_workflow_lint.py
  framework/workflow_lint.py
Labels: ci

fix: scope actionlint to core workflows, fix format and type errors
  .github/workflows/ci.yml
  framework/tests/workflows/test_reusable_workflow_lint.py
  framework/workflow_lint.py
Labels: ci

fix: remove ci-framework runtime deps, add workflow validation (#129)
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  framework/tests/workflows/test_reusable_workflow_lint.py
  framework/workflow_lint.py
Labels: ci

ci(deps): bump dorny/paths-filter to v4 in standalone-ci.yml
  .github/workflows/standalone-ci.yml
Labels: ci

ci: add release/* to branch policy allowed patterns
  .github/workflows/branch-policy.yml
Labels: ci

Update development v2.5.0 (#133)
  .github/workflows/branch-policy.yml
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  framework/tests/workflows/test_reusable_workflow_lint.py
  framework/workflow_lint.py
Labels: ci

fix: split release workflow to prevent startup_failure in consumers
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-release.yml
  .github/workflows/standalone-ci.yml
  framework/tests/workflows/test_reusable_workflow_lint.py
Labels: ci

docs: add cross-reference to reusable-release.yml in header comment
  .github/workflows/reusable-ci.yml
Labels: ci

feat: add data model and file length check for code policy
  framework/code_policy_check.py
  framework/tests/unit/__init__.py
  framework/tests/unit/test_code_policy_check.py
Labels: none

fix: remove unused imports from code_policy_check.py
  framework/code_policy_check.py
Labels: none

feat: add cyclomatic complexity check using radon
  framework/code_policy_check.py
  framework/tests/unit/test_code_policy_check.py
  pyproject.toml
Labels: none

feat: add function length check using ast
  framework/code_policy_check.py
  framework/tests/unit/test_code_policy_check.py
Labels: none

feat: add annotation and summary formatters for code policy
  framework/code_policy_check.py
  framework/tests/unit/test_code_policy_check.py
Labels: none

fix: add function-too-long to FileMetrics aggregation and summary table
  framework/code_policy_check.py
Labels: none

feat: add CLI entrypoint with exclude filtering and GitHub output
  framework/code_policy_check.py
  framework/tests/unit/test_code_policy_check.py
Labels: none

docs: add consumer documentation for code policy check
  docs/code-policy-check.md
Labels: documentation

feat: add reusable-code-policy.yml workflow
  .github/workflows/reusable-code-policy.yml
Labels: ci

ci: add code-policy check to self-testing CI pipeline
  .github/workflows/ci.yml
Labels: ci

fix: target dependabot PRs to development branch instead of main
  .github/dependabot.yml
Labels: ci

fix: resolve lint violations and CLI test reliability in CI
  framework/tests/unit/test_code_policy_check.py
Labels: none

fix: use in-process CLI tests and apply ruff formatting
  framework/code_policy_check.py
  framework/tests/unit/test_code_policy_check.py
Labels: none

fix: move cli_main and run_checks imports to top of test file (E402)
  framework/tests/unit/test_code_policy_check.py
Labels: none

fix: resolve ruff I001 import sorting and UP038 isinstance union
  framework/code_policy_check.py
  framework/tests/unit/test_code_policy_check.py
Labels: none

feat: add vulture dead code detection to code policy check
  framework/code_policy_check.py
  framework/tests/unit/test_code_policy_check.py
  pyproject.toml
Labels: none

feat: add vulture dead code detection to reusable workflow
  .github/workflows/reusable-code-policy.yml
Labels: ci

feat: automate release flow with auto-merge and main→development sync
  .github/workflows/auto-merge-release.yml
  .github/workflows/sync-main-to-development.yml
Labels: ci

feat: add reusable-security.yml with language detection and dep audits
  .github/workflows/reusable-security.yml
Labels: ci

feat: add SAST, secret scanning, scorecard to reusable-security.yml
  .github/workflows/reusable-security.yml
Labels: ci

feat: add reusable-quality.yml with multi-language quality checks
  .github/workflows/reusable-quality.yml
Labels: ci

test: add structural validation for security and quality workflows
  framework/tests/workflows/test_security_quality_workflows.py
Labels: none

test: update structural tests to accept multi-language job structure
  framework/tests/workflows/test_reusable_workflow_lint.py
Labels: none

feat: add multi-language security and quality to reusable-ci.yml
  .github/workflows/reusable-ci.yml
Labels: ci

ci: add reusable-security.yml and reusable-quality.yml to lint validation
  .github/workflows/ci.yml
Labels: ci

docs: add consumer documentation for multi-language CI
  docs/multi-language-ci.md
  docs/quality-checks.md
  docs/security-scanning.md
Labels: documentation

fix: resolve shellcheck SC2144 — use compgen instead of -f with globs
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-quality.yml
Labels: ci
