Repository Claire-s-Monster/ci-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, feature, tests, performance

.github/labeler.yml:

# Configuration for the PR Labeler action.
# Defines which labels to apply based on file paths.

# Add 'ci' label to any changes within the .github directory
ci:
  - '.github/**'

# Add 'documentation' label to any changes in docs or markdown files
documentation:
  - 'docs/**'
  - '*.md'

# Add 'feature' label to changes in the source directory
feature:
  - 'src/**'

# Add 'tests' label to changes in the tests directory
tests:
  - 'tests/**'

# Add 'performance' label to performance-related files
performance:
  - 'tests/performance/**'
  - 'benchmarks/**'

feat: accept [tool.pixi] in pyproject.toml as valid pixi config
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  docs/pixi-only-features.md
  framework/security/analyzer.py
Labels: ci, documentation

feat: add optional PostgreSQL service container support (#164)
  .github/workflows/reusable-ci.yml
Labels: ci

feat: add optional PostgreSQL service container support (#164)
  .github/workflows/reusable-ci.yml
Labels: ci

fix(tests): exclude test-postgres from cross-file core job comparison
  framework/tests/workflows/test_reusable_workflow_lint.py
Labels: none

style: apply ruff formatting to test file
  framework/tests/workflows/test_reusable_workflow_lint.py
Labels: none

fix: scope security-events and id-token permissions per-job
  .github/workflows/reusable-ci.yml
Labels: ci

fix: use CI_BOT_TOKEN for auto-merge and remove reusable-ci top-level permissions
  .github/workflows/auto-merge-release.yml
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/sync-main-to-development.yml
Labels: ci

fix: scope write permissions per-job for Scorecard compliance
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
Labels: ci

docs: show SHA pinning in reusable-ci usage example
  .github/workflows/reusable-ci.yml
Labels: ci

fix: use CI_BOT_TOKEN in release-please to avoid workflow approval gate
  .github/workflows/release-please.yml
Labels: ci

fix: add GITHUB_TOKEN fallback to release-please token
  .github/workflows/release-please.yml
Labels: ci

chore(main): release 2.9.2
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 2.9.2
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

docs: mark security-events: write as optional for Scorecard compliance
  docs/best-practices/security-scanning-patterns.md
  docs/examples/interactive/troubleshooting-guide.md
  docs/multi-language-ci.md
  docs/quality-checks.md
  docs/security-scanning.md
Labels: documentation

fix: eliminate security-events: write requirement for consumer repos
  .github/workflows/release-please.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-security.yml
  .github/workflows/standalone-ci.yml
  .gitignore
Labels: ci

chore(main): release 2.9.3
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 2.9.3 (#193)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

fix: remove security-events: write from reusable workflow job permissions
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
Labels: ci

chore(main): release 2.9.4
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 2.9.4 (#197)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

fix: replace pip-audit with pixi-native dependency audit
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
Labels: ci

chore(main): release 2.9.5
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 2.9.5 (#201)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

fix(ci): drop emoji prefix from Security Scan job name
  .github/workflows/ci.yml
  .github/workflows/standalone-ci.yml
Labels: ci

Development (#209)
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-gemini-ai.yml
  .github/workflows/reusable-security.yml
  .github/workflows/standalone-ci.yml
Labels: ci

fix(ci): gate reusable-ci.yml CodeQL behind `codeql` input to prevent duplicate codeql-python upload (#215)
  .github/workflows/reusable-ci.yml
Labels: ci

fix(ci): gate reusable-ci.yml CodeQL behind `codeql` input to prevent duplicate codeql-python upload (#215) (#216)
  .github/workflows/reusable-ci.yml
Labels: ci

chore(main): release 2.9.6
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 2.9.6 (#220)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

fix(ci): grant gemini-ai-analysis.yml the permissions its reusable workflow needs
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

Update Gemini model version in workflow
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix(ci): set native CodeQL check conclusion via analyze upload:true (#222)
  .github/workflows/reusable-security.yml
Labels: ci

fix(ci): keep CodeQL analyze non-blocking with continue-on-error (#222)
  .github/workflows/reusable-security.yml
Labels: ci

chore(main): release 2.9.7
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 2.9.7 (#226)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

fix(ci): add codeql-languages allowlist + harden c-cpp leg (#227)
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
Labels: ci

fix(ci): avoid expression injection in codeql-matrix step (#227)
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
Labels: ci

fix(ci): validate codeql-languages against strict allowlist (#227)
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
Labels: ci

refactor(ci): extract codeql-matrix into shared composite action (#227)
  .github/actions/setup-codeql-matrix/action.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
Labels: ci

chore(main): release 2.9.8
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation
