Repository Claire-s-Monster/ci-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, feature, tests, performance

chore(main): release 2.9.8 (#232)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

fix(ci): skip Gemini AI review on dependabot pull_request runs
  .github/workflows/reusable-gemini-ai.yml
Labels: ci

fix(ci): key dependabot ai-analysis skip off PR author, not github.actor
  .github/workflows/reusable-gemini-ai.yml
Labels: ci

fix(ci): bump pinned pixi CLI version to v0.74.0 (schema v7 support)
  .github/workflows/ci.yml
  .github/workflows/python-ci-template.yml.template
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-gemini-ai.yml
  .github/workflows/reusable-security.yml
  .github/workflows/standalone-ci.yml
  actions/change-detection/action.yml
  actions/cross-platform-validation/README.md
  actions/cross-platform-validation/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
  docs/ci-workflow-guide.md
  docs/examples/interactive/troubleshooting-guide.md
  docs/troubleshooting.md
  framework/tests/workflows/test_ci_matrix_validation.py
Labels: ci, documentation

fix(ci): pin setup-codeql-matrix action ref to release tag instead of @main
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  .release-please-config.json
Labels: ci

fix(ci): scope PYTHONNOUSERSITE=1 to the pytest step, not pixi activation
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  templates/pyproject-tiered-template.toml
Labels: ci

chore(main): release 2.9.9
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 2.9.9 (#245)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

feat(ci): expose overridable pixi-version input and explain lock-schema failures
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  actions/change-detection/README.md
  actions/change-detection/action.yml
  actions/performance-benchmark/README.md
  actions/performance-benchmark/action.yml
  actions/quality-gates/README.md
  actions/quality-gates/action.yml
  actions/security-scan/README.md
  actions/security-scan/action.yml
  actions/self-healing/action.yml
  framework/tests/workflows/test_reusable_workflow_lint.py
Labels: ci

fix(ci): satisfy ruff format gate and move workflow expressions out of run bodies
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  framework/tests/workflows/test_reusable_workflow_lint.py
Labels: ci

feat(ci): make the python-versions matrix test the interpreter it claims
  .github/workflows/reusable-ci.yml
  docs/ci-workflow-guide.md
  framework/tests/workflows/test_reusable_workflow_lint.py
Labels: ci, documentation

fix(ci): lint every workflow, and fix what that uncovers
  .github/workflows/branch-policy.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/self-healing.yml
  .yamllint.yml
  pyproject.toml
Labels: ci

fix(ci): declare shellcheck so local linting matches CI, and fix what it finds
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/release-please.yml
  .github/workflows/reusable-code-policy.yml
  .github/workflows/reusable-gemini-ai.yml
  .github/workflows/self-healing.yml
  pyproject.toml
Labels: ci

fix(ci): drop the unused setup-python step from the pixi matrix jobs
  .github/workflows/reusable-ci.yml
  docs/ci-workflow-guide.md
  framework/tests/workflows/test_reusable_workflow_lint.py
Labels: ci, documentation

fix(ci): commit this framework's own pixi.lock and install from it
  .github/workflows/ci.yml
  .gitignore
  framework/tests/workflows/test_reusable_workflow_lint.py
  pixi.lock
Labels: ci

fix(security): keep GPG keys and bot tokens off the shell command line
  .github/actions/gpg-signing-setup/action.yml
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/release-please.yml
  framework/tests/workflows/test_workflow_secret_handling.py
Labels: ci

fix(quality): make format-check env-self-contained and add it to the quality gate
  framework/tests/workflows/test_pixi_quality_tasks.py
  pyproject.toml
Labels: none

style(tests): sort imports in test_pixi_quality_tasks.py to satisfy full ruff ruleset
  framework/tests/workflows/test_pixi_quality_tasks.py
Labels: none

test(quality): accept --environment as well as -e in the env-delegation guard
  framework/tests/workflows/test_pixi_quality_tasks.py
Labels: none

fix(templates): make every tool-invoking pixi task env-self-contained
  framework/tests/workflows/test_pixi_quality_tasks.py
  templates/pyproject-tiered-template.toml
Labels: none

refactor(tests): drop dead helper and parse the template manifest once
  framework/tests/workflows/test_pixi_quality_tasks.py
Labels: none

fix(self-healing): pin the local action ref so external consumers can resolve it
  .github/workflows/self-healing.yml
  .release-please-config.json
  framework/tests/workflows/test_reusable_workflow_local_uses.py
Labels: ci

style(tests): use PEP 604 union in isinstance to satisfy the full ruff ruleset
  framework/tests/workflows/test_reusable_workflow_local_uses.py
Labels: none

fix(quality): point the mandatory gate at the full ruff ruleset
  framework/tests/workflows/test_pixi_quality_tasks.py
  pyproject.toml
  templates/pyproject-tiered-template.toml
Labels: none

feat(lint): shellcheck the bash embedded in composite actions
  .github/workflows/ci.yml
  actions/change-detection/action.yml
  actions/cleanup-dev-files/action.yml
  actions/cross-platform-validation/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
  framework/action_shellcheck.py
  framework/tests/workflows/test_action_shellcheck.py
  pyproject.toml
Labels: ci

fix(lint): fail loudly when shellcheck does not run, and fix SC2002
  actions/self-healing/action.yml
  framework/action_shellcheck.py
  framework/tests/workflows/test_action_shellcheck.py
Labels: none

refactor(tests): parse workflow YAML structurally instead of scanning lines
  framework/tests/workflows/test_pixi_quality_tasks.py
Labels: none

fix(lint): run the gate against the pinned shellcheck, not any PATH build
  framework/action_shellcheck.py
  framework/tests/workflows/test_action_shellcheck.py
Labels: none

fix(lint): widen yaml-lint to the action trees and wire it into CI
  .github/actions/setup-codeql-matrix/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/gemini-ai-analysis.yml
  .github/workflows/release-please.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-gemini-ai.yml
  .github/workflows/reusable-security.yml
  .github/workflows/self-healing.yml
  .github/workflows/standalone-ci.yml
  actions/change-detection/action.yml
  actions/cleanup-dev-files/action.yml
  actions/cross-platform-validation/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
  framework/tests/workflows/test_yaml_lint_scope.py
  pyproject.toml
Labels: ci

fix(lint): lint every workflow by discovery, not a six-file list
  .github/workflows/ci.yml
  framework/tests/workflows/test_workflow_lint_scope.py
  framework/workflow_lint.py
  pyproject.toml
Labels: ci

test(workflow-lint): rejoin shell continuations before scanning ci.yml
  framework/tests/workflows/test_workflow_lint_scope.py
Labels: none

docs(test): record the pixi coupling and the flat-scan decision
  framework/tests/workflows/test_workflow_lint_scope.py
Labels: none

refactor(test): share the pixi meta-test primitives between both scope guards
  framework/tests/utils/__init__.py
  framework/tests/utils/pixi_meta.py
  framework/tests/workflows/test_workflow_lint_scope.py
  framework/tests/workflows/test_yaml_lint_scope.py
Labels: none

fix(python): declare the 3.11 floor and make every tomllib import bare
  README.md
  framework/actions/quality_gates.py
  framework/tests/workflows/test_python_floor_consistency.py
  pyproject.toml
  scripts/local-ci/package-detection.py
Labels: documentation

fix(ci): make the type-check gate propagate mypy's exit code
  .github/workflows/ci.yml
  framework/tests/workflows/test_workflow_lint_swallowed_gate.py
  framework/workflow_lint.py
Labels: ci

fix(lint): catch a swallow that a trailing `;` was hiding
  framework/tests/workflows/test_workflow_lint_swallowed_gate.py
  framework/workflow_lint.py
Labels: none

fix(lint): do not mistake a mention of the anti-pattern for the anti-pattern
  framework/tests/workflows/test_workflow_lint_swallowed_gate.py
  framework/workflow_lint.py
Labels: none

fix(config): point ruff and mypy at the 3.11 floor the project declares
  framework/migration/analyzer.py
  framework/migration/migrator.py
  framework/tests/utils/pixi_meta.py
  framework/tests/workflows/test_pixi_quality_tasks.py
  framework/tests/workflows/test_python_floor_consistency.py
  framework/workflow_lint.py
  pyproject.toml
Labels: none

refactor(tests): give all three floor parsers the same type boundary
  framework/tests/workflows/test_python_floor_consistency.py
Labels: none

fix(pixi): delegate every bare task to an env that provides its tool
  framework/tests/workflows/test_pixi_quality_tasks.py
  pyproject.toml
Labels: none

.github/labeler.yml:

# Configuration for the PR Labeler action.
# Defines which labels to apply based on file paths.

# Add 'ci' label to any changes within the .github directory
ci:
  - '.github/**'

# Add 'documentation' label to any changes in docs or markdown files
documentation:
  - 'docs/**'
  - '*.md'

# Add 'feature' label to changes in the source directory
feature:
  - 'src/**'

# Add 'tests' label to changes in the tests directory
tests:
  - 'tests/**'

# Add 'performance' label to performance-related files
performance:
  - 'tests/performance/**'
  - 'benchmarks/**'
