Repository Claire-s-Monster/ci-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, feature, tests, performance

style: ruff format the new pixi task guard
  framework/tests/workflows/test_pixi_quality_tasks.py
Labels: none

fix(security): revert the CodeQL split - it reintroduced #222 (#304)
  .github/workflows/reusable-security.yml
  framework/tests/workflows/test_security_step_continue_on_error.py
Labels: ci

fix(security): let the two unauthorized SARIF uploads authenticate (#306)
  .github/workflows/python-ci-template.yml.template
  .github/workflows/reusable-quality.yml
  framework/tests/workflows/test_sarif_upload_auth.py
  framework/tests/workflows/test_workflow_validation.py
Labels: ci

test(security): guard codeql-action/analyze too, minus the upload:false case (#306)
  framework/tests/workflows/test_sarif_upload_auth.py
Labels: none

fix(security): close the SARIF sites the guard could not see (#306)
  .github/workflows/python-ci-template.yml.template
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  framework/tests/workflows/test_sarif_upload_auth.py
  framework/tests/workflows/test_workflow_validation.py
Labels: ci

docs(security): document the caller permissions the action cannot grant itself (#306)
  .github/workflows/python-ci-template.yml.template
  actions/security-scan/README.md
Labels: ci

fix(actions): teach dependabot about actions/, and fix the pins it never saw (#306)
  .github/dependabot.yml
  actions/change-detection/action.yml
  actions/cross-platform-validation/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/README.md
  actions/security-scan/action.yml
Labels: ci

fix(docs): reconcile Python 3.10 references with the 3.11 floor, and guard the docs corpus (#286)
  .secrets.baseline
  README.md
  actions/change-detection/README.md
  actions/quality-gates/README.md
  docs/api/README.md
  docs/api/actions/docker-cross-platform.md
  docs/api/actions/performance-benchmark.md
  docs/api/actions/quality-gates.md
  docs/api/actions/security-scan.md
  docs/api/actions/self-healing.md
  docs/bdd-scenarios-ci-workflow.md
  docs/best-practices/pixi-environment-patterns.md
  docs/best-practices/quality-gates-comprehensive-guide.md
  docs/ci-workflow-guide.md
  docs/code-policy-check.md
  docs/examples/interactive/configuration-playground.md
  docs/examples/interactive/quick-start-generator.md
  docs/examples/interactive/troubleshooting-guide.md
  docs/examples/interactive/workflow-simulator.md
  docs/examples/project-types.md
  docs/examples/quick-start.md
  docs/multi-language-ci.md
  docs/quality-checks.md
  docs/quality-gates-action.md
  docs/quick-start/README.md
  docs/quick-start/existing-project.md
  docs/quick-start/new-project.md
  docs/security-scanning.md
  docs/troubleshooting.md
  docs/tutorials/video-scripts/02-new-project-setup.md
  examples/monorepo-change-detection.yml
  framework/tests/workflows/test_python_floor_consistency.py
Labels: documentation

fix(review): restore tiered matrix exclude, and guard workflows/ and scripts/ (#286)
  actions/change-detection/README.md
  framework/tests/workflows/test_python_floor_consistency.py
  scripts/generate_compatibility_report.py
  workflows/python-ci-template.feature
Labels: none

fix(pixi): move to [tool.pixi.workspace], and keep reading consumers' legacy [tool.pixi.project]
  README.md
  docs/best-practices/pixi-environment-patterns.md
  docs/ci-workflow-guide.md
  docs/examples/interactive/configuration-playground.md
  docs/examples/interactive/quick-start-generator.md
  docs/examples/interactive/troubleshooting-guide.md
  docs/examples/project-types.md
  docs/examples/quick-start.md
  docs/quality-gates-action.md
  docs/quick-start/new-project.md
  docs/troubleshooting.md
  framework/actions/quality_gates.py
  framework/tests/compatibility/test_compatibility_matrix.py
  framework/tests/local-ci/test_package_detection.py
  framework/tests/workflows/test_ci_matrix_validation.py
  framework/tests/workflows/test_pixi_workspace_table.py
  pyproject.toml
  scripts/generate_compatibility_report.py
  scripts/local-ci/package-detection.py
  templates/pyproject-tiered-template.toml
Labels: documentation

style(scripts): apply ruff format to package-detection.py fallback
  scripts/local-ci/package-detection.py
Labels: none

docs(security): document fail-on-sast as a permanent opt-in gate (#305)
  docs/security-scanning.md
  framework/tests/workflows/test_security_step_continue_on_error.py
Labels: documentation

fix(templates): drop the docker-cross-platform action that never existed
  framework/tests/workflows/test_template_local_action_refs.py
  templates/github/workflows/comprehensive-ci-template.yml
  templates/github/workflows/standard-ci-template.yml
Labels: none

test(templates): assert the guard's YAML-parse exclusions are exact
  framework/tests/workflows/test_template_local_action_refs.py
Labels: none

chore(main): release 3.0.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 3.0.0 (#337)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

fix(ci): drop matrix vars from job names so skipped jobs read correctly
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
Labels: ci

refactor(ci): wire the last two workflows to gpg-signing-setup
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/self-healing.yml
  .release-please-config.json
Labels: ci

chore(security): resync .secrets.baseline after this PR's line shift
  .secrets.baseline
Labels: none

refactor(ci): use local git config scope in self-healing.yml too
  .github/workflows/self-healing.yml
Labels: ci

fix(ci): let the 3 SAST jobs inherit the caller's SARIF permission
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  framework/tests/workflows/test_sarif_upload_auth.py
Labels: ci

chore(security): refresh .secrets.baseline line numbers
  .secrets.baseline
Labels: none

fix(ci): stop writing CI_BOT_TOKEN into --global git config
  .github/workflows/cleanup-dev-files.yml
  framework/tests/workflows/test_workflow_secret_handling.py
Labels: ci

fix(deps): raise urllib3 and virtualenv floors past new advisories
  pixi.lock
  pyproject.toml
Labels: none

test(performance): stop concurrent test leaking a Mock as subprocess.run
  framework/tests/performance/test_quality_gates_performance.py
Labels: none

test(performance): drop the dead subprocess.run patch entirely
  framework/tests/performance/test_quality_gates_performance.py
Labels: none

fix(gpg-signing-setup)!: default config-scope to local
  .github/actions/gpg-signing-setup/action.yml
  framework/tests/workflows/test_workflow_secret_handling.py
Labels: ci

fix(ci): drop unused GPG setup and checkout from release-please
  .github/workflows/release-please.yml
Labels: ci

fix(ci): document CI_BOT_TOKEN as required where SARIF auth needs it
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  .secrets.baseline
  docs/security-scanning.md
  framework/tests/workflows/test_sarif_upload_auth.py
  framework/tests/workflows/test_security_step_continue_on_error.py
Labels: ci, documentation

fix(ci): drop dead c-cpp-lint SARIF upload and its narrowing block
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-quality.yml
  .secrets.baseline
  framework/tests/workflows/test_sarif_upload_auth.py
Labels: ci

fix(ci): fail fast when CI_BOT_TOKEN is set but invalid
  .github/workflows/auto-merge-release.yml
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/release-please.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  .github/workflows/self-healing.yml
  .github/workflows/sync-main-to-development.yml
  .secrets.baseline
  docs/security-scanning.md
  framework/tests/workflows/test_ci_bot_token_preflight.py
Labels: ci, documentation

fix(ci): keep scorecard jobs publishable; time-limit the token check
  .github/workflows/auto-merge-release.yml
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/release-please.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  .github/workflows/self-healing.yml
  .github/workflows/sync-main-to-development.yml
  .secrets.baseline
  docs/security-scanning.md
  framework/tests/workflows/test_ci_bot_token_preflight.py
  framework/tests/workflows/test_scorecard_publish_restrictions.py
Labels: ci, documentation

fix(ci): let scorecard inherit the caller's grant; CI_BOT_TOKEN optional
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  docs/multi-language-ci.md
  docs/security-scanning.md
  framework/tests/workflows/test_sarif_upload_auth.py
Labels: ci, documentation

fix(ci): scope write tokens to jobs; guard top-level permissions (#359)
  .github/workflows/auto-merge-release.yml
  .github/workflows/branch-policy.yml
  .github/workflows/cleanup-caller-example.yml
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/sync-main-to-development.yml
  .secrets.baseline
  framework/tests/workflows/test_workflow_token_permissions.py
Labels: ci

test(ci): allowlist the id-token self-test case for detect-secrets
  framework/tests/workflows/test_workflow_token_permissions.py
Labels: none

chore(main): release 4.0.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 4.0.0 (#364)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

fix(ci): install Semgrep via pip instead of Docker Hub container (#366)
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  .secrets.baseline
Labels: ci

.github/labeler.yml:

# Configuration for the PR Labeler action.
# Defines which labels to apply based on file paths.

# Add 'ci' label to any changes within the .github directory
ci:
  - '.github/**'

# Add 'documentation' label to any changes in docs or markdown files
documentation:
  - 'docs/**'
  - '*.md'

# Add 'feature' label to changes in the source directory
feature:
  - 'src/**'

# Add 'tests' label to changes in the tests directory
tests:
  - 'tests/**'

# Add 'performance' label to performance-related files
performance:
  - 'tests/performance/**'
  - 'benchmarks/**'
