Repository Claire-s-Monster/ci-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, feature, tests, performance

feat(ci): add manual GitHub Pages deployment workflow (#70)
  .github/workflows/deploy-pages.yml
Labels: ci

fix(ci): add enablement parameter to auto-enable GitHub Pages
  .github/workflows/deploy-pages.yml
Labels: ci

fix(ci): add enablement parameter to auto-enable GitHub Pages (#73)
  .github/workflows/deploy-pages.yml
Labels: ci

feat(ci): add pixi-only editable install and hygiene checks
  .github/workflows/reusable-ci.yml
  docs/pixi-only-features.md
Labels: ci, documentation

Sync/main to development (#76)
  .github/workflows/cleanup-caller-example.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: ci, documentation

feat(ci): add pixi-only editable install and hygiene checks (#75)
  .github/workflows/reusable-ci.yml
  docs/pixi-only-features.md
Labels: ci, documentation

fix(ci): resolve YAML parse error in gemini-ai-analysis workflow
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix(ci): resolve YAML parse error in gemini-ai-analysis workflow
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix(ci): resolve YAML parse error in gemini-ai-analysis workflow (#78)
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

chore(ci): add GEMINI.md to cleanup patterns
  .github/workflows/cleanup-dev-files.yml
Labels: ci

chore(ci): add GEMINI.md to cleanup patterns (#79)
  .github/workflows/cleanup-dev-files.yml
Labels: ci

fix: update GEMINI_CLI_VERSION to 0.13.18 from main
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix: sync gemini-ai-analysis.yml with main to resolve PR #81 conflict
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix: sync gemini-ai-analysis.yml with main to resolve PR #81 conflict (#85)
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

Fix/merge main to development (#84)
  .github/workflows/cleanup-dev-files.yml
  .github/workflows/gemini-ai-analysis.yml
  .github/workflows/reusable-ci.yml
  docs/pixi-only-features.md
Labels: ci, documentation

fix: align gemini-ai-analysis.yml with main branch
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix: align gemini-ai-analysis.yml with main branch (#89)
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

docs: clarify reusable workflow usage patterns
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  README.md
Labels: ci, documentation

docs: clarify reusable workflow usage patterns (#97)
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  README.md
Labels: ci, documentation

fix: sync main into development with conflict resolution (#99)
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/gemini-ai-analysis.yml
  .github/workflows/release-please.yml
  .github/workflows/reusable-ci.yml
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: ci, documentation

fix: clarify workflow usage patterns and add pyyaml dependency
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  README.md
  pyproject.toml
Labels: ci, documentation

fix: clarify workflow usage patterns and add pyyaml dependency (#100)
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  README.md
  pyproject.toml
Labels: ci, documentation

ci: add branch policy enforcement for PRs to main
  .github/workflows/branch-policy.yml
Labels: ci

ci: add branch policy enforcement for PRs to main (#103)
  .github/workflows/branch-policy.yml
Labels: ci

fix: use absolute GITHUB_WORKSPACE path for framework CLI scripts
  .github/workflows/reusable-ci.yml
Labels: ci

feat: enable ci-failure-analysis job for PR analysis
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

docs: add activation requirement comment to gemini workflow
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix: use correct gemini-cli action version v0.1.20
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

refactor: use google-genai SDK directly instead of action
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix: use pixi instead of pip for google-genai SDK
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix: use proper pixi environment for google-genai SDK
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix: use gemini-2.0-flash model (not -exp)
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix: use absolute GITHUB_WORKSPACE path for framework CLI scripts (#106)
  .github/workflows/gemini-ai-analysis.yml
  .github/workflows/reusable-ci.yml
Labels: ci

feat: convert Gemini AI workflow to reusable workflow
  .github/workflows/gemini-ai-analysis.yml
  .github/workflows/reusable-gemini-ai.yml
Labels: ci

feat: convert Gemini AI workflow to reusable workflow (#109)
  .github/workflows/gemini-ai-analysis.yml
  .github/workflows/reusable-gemini-ai.yml
Labels: ci

fix: use positional argument for security scan CLI
  .github/workflows/reusable-ci.yml
Labels: ci

fix: use positional argument for security scan CLI (#113)
  .github/workflows/reusable-ci.yml
Labels: ci

chore: remove AI context files for release cleanup
  .gitignore
  GEMINI.md
Labels: documentation

fix: allow dependabot branches in branch policy
  .github/workflows/branch-policy.yml
Labels: ci

fix: skip dependency-review-action on push events
  .github/workflows/reusable-ci.yml
Labels: ci

.github/labeler.yml:

# Configuration for the PR Labeler action.
# Defines which labels to apply based on file paths.

# Add 'ci' label to any changes within the .github directory
ci:
  - '.github/**'

# Add 'documentation' label to any changes in docs or markdown files
documentation:
  - 'docs/**'
  - '*.md'

# Add 'feature' label to changes in the source directory
feature:
  - 'src/**'

# Add 'tests' label to changes in the tests directory
tests:
  - 'tests/**'

# Add 'performance' label to performance-related files
performance:
  - 'tests/performance/**'
  - 'benchmarks/**'
