Repository Claire-s-Monster/ci-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, feature, tests, performance

.github/labeler.yml:

# Configuration for the PR Labeler action.
# Defines which labels to apply based on file paths.

# Add 'ci' label to any changes within the .github directory
ci:
  - '.github/**'

# Add 'documentation' label to any changes in docs or markdown files
documentation:
  - 'docs/**'
  - '*.md'

# Add 'feature' label to changes in the source directory
feature:
  - 'src/**'

# Add 'tests' label to changes in the tests directory
tests:
  - 'tests/**'

# Add 'performance' label to performance-related files
performance:
  - 'tests/performance/**'
  - 'benchmarks/**'

Update cleanup-caller-example.yml
  .github/workflows/cleanup-caller-example.yml
Labels: ci

Update cleanup-caller-example.yml (#40)
  .github/workflows/cleanup-caller-example.yml
Labels: ci

Update cleanup-caller-example.yml
  .github/workflows/cleanup-caller-example.yml
Labels: ci

Update cleanup-caller-example.yml (#41)
  .github/workflows/cleanup-caller-example.yml
Labels: ci

chore: automated cleanup of development artifacts
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-auto-merge.tmp
  test-gpg-workflow.tmp
  test-new-branch-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

chore: automated cleanup of development artifacts
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-auto-merge.tmp
  test-gpg-workflow.tmp
  test-new-branch-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

chore: automated cleanup of development artifacts (#42)
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-auto-merge.tmp
  test-gpg-workflow.tmp
  test-new-branch-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

docs: update README to comprehensive CI Framework documentation
  README.md
Labels: documentation

chore: remove test files before PR creation
  test-ci-simple.md
  test-fresh-settings.txt
  test-settings-change.txt
Labels: documentation

Feat/comprehensive ci framework v2 (#44)
  .github/workflows/cleanup-dev-files.yml
  README.md
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-ci-simple.md
  test-fresh-settings.txt
  test-new-branch-workflow.tmp
  test-settings-change.txt
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: ci, documentation

chore: automated cleanup of development artifacts
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-new-branch-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

chore: automated cleanup of development artifacts
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-new-branch-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

chore: automated cleanup of development artifacts (#45)
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-new-branch-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

release: merge development into main for v2.0.0 (#47)
  .github/workflows/cleanup-dev-files.yml
  README.md
Labels: ci, documentation

Delete test-ci-simple.md
  test-ci-simple.md
Labels: documentation

Delete test-settings-change.txt
  test-settings-change.txt
Labels: none

Delete test-fresh-settings.txt
  test-fresh-settings.txt
Labels: none

Delete github-repo-settings-issue.md
  github-repo-settings-issue.md
Labels: documentation

Chore cleanup (#48)
  github-repo-settings-issue.md
  test-ci-simple.md
  test-fresh-settings.txt
  test-settings-change.txt
Labels: documentation

feat: implement Task 1 - Build Core Infrastructure and Self-Healing GitHub Action
  actions/self-healing/action.yml
  framework/self_healing/__init__.py
  framework/self_healing/__main__.py
  framework/self_healing/__pycache__/__init__.cpython-312.pyc
  framework/self_healing/__pycache__/engine.cpython-312.pyc
  framework/self_healing/__pycache__/pattern_engine.cpython-312.pyc
  framework/self_healing/applier/__init__.py
  framework/self_healing/applier/__pycache__/__init__.cpython-312.pyc
  framework/self_healing/applier/__pycache__/fix_applier.cpython-312.pyc
  framework/self_healing/applier/fix_applier.py
  framework/self_healing/engine.py
  framework/self_healing/pattern_engine.py
  framework/tests/self_healing/__init__.py
  framework/tests/self_healing/__pycache__/__init__.cpython-312.pyc
  framework/tests/self_healing/__pycache__/test_fix_applier.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/__pycache__/test_integration_action.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/__pycache__/test_pattern_engine.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/test_fix_applier.py
  framework/tests/self_healing/test_integration_action.py
  framework/tests/self_healing/test_pattern_engine.py
Labels: none

fix: resolve CI failures for self-healing implementation
  framework/self_healing/__pycache__/engine.cpython-312.pyc
  framework/self_healing/__pycache__/pattern_engine.cpython-312.pyc
  framework/self_healing/applier/__init__.py
  framework/self_healing/applier/__pycache__/__init__.cpython-312.pyc
  framework/self_healing/applier/__pycache__/fix_applier.cpython-312.pyc
  framework/self_healing/applier/fix_applier.py
  framework/self_healing/engine.py
  framework/self_healing/pattern_engine.py
  framework/tests/self_healing/__pycache__/test_fix_applier.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/__pycache__/test_integration_action.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/test_fix_applier.py
  framework/tests/self_healing/test_integration_action.py
Labels: none

fix: resolve remaining lint issues in integration tests
  framework/tests/self_healing/test_integration_action.py
Labels: none

fix: improve test environment detection and pixi task consistency
  QUALITY_BASELINE_REPORT.md
  framework/tests/integration/test_cheap_llm_integration.py
  pyproject.toml
Labels: documentation

feat: implement automatic code formatting fixes (Task 2)
  framework/self_healing/applier/fix_applier.py
  framework/self_healing/command_executor.py
  framework/self_healing/formatting.yml
  framework/self_healing/formatting_engine.py
  framework/self_healing/formatting_workflow.py
  framework/self_healing/pattern_engine.py
  framework/self_healing/syntax_verifier.py
  framework/tests/self_healing/test_command_executor.py
  framework/tests/self_healing/test_end_to_end_formatting_fix.py
  framework/tests/self_healing/test_formatting_engine.py
  framework/tests/self_healing/test_formatting_patterns.py
  framework/tests/self_healing/test_formatting_workflow.py
  framework/tests/self_healing/test_syntax_verifier.py
Labels: none

fix: resolve 12 test failures in Task 2 formatting workflow implementation
  framework/self_healing/applier/fix_applier.py
  framework/self_healing/command_executor.py
  framework/self_healing/formatting_workflow.py
  framework/self_healing/syntax_verifier.py
  framework/tests/self_healing/test_formatting_workflow.py
Labels: none

feat: implement Task 3 - Dependency Resolution Healing
  framework/self_healing/applier/fix_applier.py
  framework/self_healing/command_executor.py
  framework/self_healing/dependencies.yml
  framework/self_healing/dependency_engine.py
  framework/self_healing/dependency_workflow.py
  framework/self_healing/pattern_engine.py
  framework/tests/self_healing/test_dependency_integration.py
  framework/tests/self_healing/test_dependency_patterns.py
  framework/tests/self_healing/test_dependency_workflow.py
  framework/tests/self_healing/test_fix_applier.py
  framework/tests/self_healing/test_pattern_engine.py
Labels: none

fix: resolve MyPy type annotation errors for PR 50
  framework/self_healing/dependency_engine.py
  framework/self_healing/dependency_workflow.py
Labels: none

feat: enforce PIXI-only compliance across all CI workflows
  .github/workflows/reusable-ci.yml
  .github/workflows/standalone-ci.yml
  actions/change-detection/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
  examples/monorepo-change-detection.yml
  pyproject.toml
Labels: ci

fix: resolve 845 lint violations for CI compatibility
  framework/self_healing/applier/fix_applier.py
  framework/self_healing/command_executor.py
  framework/self_healing/dependency_engine.py
  framework/self_healing/dependency_workflow.py
  framework/self_healing/formatting_engine.py
  framework/self_healing/formatting_workflow.py
  framework/self_healing/pattern_engine.py
  framework/self_healing/syntax_verifier.py
  framework/tests/self_healing/test_command_executor.py
  framework/tests/self_healing/test_dependency_integration.py
  framework/tests/self_healing/test_dependency_patterns.py
  framework/tests/self_healing/test_dependency_workflow.py
  framework/tests/self_healing/test_end_to_end_formatting_fix.py
  framework/tests/self_healing/test_fix_applier.py
  framework/tests/self_healing/test_formatting_engine.py
  framework/tests/self_healing/test_formatting_patterns.py
  framework/tests/self_healing/test_formatting_workflow.py
  framework/tests/self_healing/test_pattern_engine.py
  framework/tests/self_healing/test_syntax_verifier.py
Labels: none

feat: update PIXI and setup-pixi to latest versions for performance optimization
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  actions/change-detection/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
Labels: ci

fix: align CI pixi-version to match local environment (v0.50.2)
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  actions/change-detection/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
Labels: ci

fix: resolve CI failures by downgrading setup-pixi to compatible version
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  actions/change-detection/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
Labels: ci

fix: implement PIXI version fallback to restore CI functionality
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  actions/change-detection/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
Labels: ci

fix: disable PIXI cache to resolve setup-pixi ENOENT pixi.lock error
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  actions/change-detection/action.yml
  actions/performance-benchmark/action.yml
  actions/quality-gates/action.yml
  actions/security-scan/action.yml
  actions/self-healing/action.yml
Labels: ci

remove: delete QUALITY_BASELINE_REPORT.md from repository
  QUALITY_BASELINE_REPORT.md
Labels: documentation

docs: add comprehensive Self-Healing CI feature documentation
  .github/workflows/self-healing.yml
  README.md
  docs/api/actions/self-healing.md
Labels: ci, documentation

docs: add comprehensive Self-Healing CI feature documentation
  .github/workflows/self-healing.yml
  README.md
  docs/api/actions/self-healing.md
Labels: ci, documentation

chore: purge __pycache__ files from repository
  framework/self_healing/__pycache__/__init__.cpython-312.pyc
  framework/self_healing/__pycache__/engine.cpython-312.pyc
  framework/self_healing/__pycache__/pattern_engine.cpython-312.pyc
  framework/self_healing/applier/__pycache__/__init__.cpython-312.pyc
  framework/self_healing/applier/__pycache__/fix_applier.cpython-312.pyc
  framework/tests/self_healing/__pycache__/__init__.cpython-312.pyc
  framework/tests/self_healing/__pycache__/test_fix_applier.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/__pycache__/test_integration_action.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/__pycache__/test_pattern_engine.cpython-312-pytest-8.4.1.pyc
Labels: none

Feat/self healing readme docs (#51)
  .github/workflows/self-healing.yml
  README.md
  docs/api/actions/self-healing.md
  framework/self_healing/__pycache__/__init__.cpython-312.pyc
  framework/self_healing/__pycache__/engine.cpython-312.pyc
  framework/self_healing/__pycache__/pattern_engine.cpython-312.pyc
  framework/self_healing/applier/__pycache__/__init__.cpython-312.pyc
  framework/self_healing/applier/__pycache__/fix_applier.cpython-312.pyc
  framework/tests/self_healing/__pycache__/__init__.cpython-312.pyc
  framework/tests/self_healing/__pycache__/test_fix_applier.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/__pycache__/test_integration_action.cpython-312-pytest-8.4.1.pyc
  framework/tests/self_healing/__pycache__/test_pattern_engine.cpython-312-pytest-8.4.1.pyc
Labels: ci, documentation

chore: bump version to v2.1.0 for Self-Healing CI feature release
  pyproject.toml
Labels: none
