Repository Claire-s-Monster/ci-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, feature, tests, performance

.github/labeler.yml:

# Configuration for the PR Labeler action.
# Defines which labels to apply based on file paths.

# Add 'ci' label to any changes within the .github directory
ci:
  - '.github/**'

# Add 'documentation' label to any changes in docs or markdown files
documentation:
  - 'docs/**'
  - '*.md'

# Add 'feature' label to changes in the source directory
feature:
  - 'src/**'

# Add 'tests' label to changes in the tests directory
tests:
  - 'tests/**'

# Add 'performance' label to performance-related files
performance:
  - 'tests/performance/**'
  - 'benchmarks/**'

fix: resolve CLAUDE.md merge conflict and complete action reorganization
  CLAUDE.md
  action.yml
  actions/docker-cross-platform/README.md
  actions/docker-cross-platform/action.yml
  github-repo-settings-issue.md
Labels: documentation

feat: consolidate CI actions with superior cross-platform validation (#22)
  .github/workflows/cleanup-dev-files.yml
  actions/cleanup-dev-files/README.md
  actions/cleanup-dev-files/action.yml
  actions/cross-platform-validation/README.md
  actions/cross-platform-validation/action.yml
  actions/docker-cross-platform/README.md
  actions/docker-cross-platform/action.yml
  github-repo-settings-issue.md
  test-auto-merge.tmp
  test-ci-simple.md
  test-fresh-settings.txt
  test-settings-change.txt
Labels: ci, documentation

test: add file to trigger updated GPG-signed cleanup workflow
  test-gpg-workflow.tmp
Labels: none

fix: re-apply GPG-signed cleanup workflow configuration
  .github/workflows/cleanup-dev-files.yml
Labels: ci

test: trigger GPG-signed cleanup workflow validation (#24)
  .github/workflows/cleanup-dev-files.yml
  test-gpg-workflow.tmp
Labels: ci

test: fresh CI bot cleanup workflow validation
  .github/workflows/cleanup-dev-files.yml
  fresh-bot-test.tmp
Labels: ci

test: fresh CI bot cleanup workflow validation (#25)
  .github/workflows/cleanup-dev-files.yml
  fresh-bot-test.tmp
Labels: ci

fix: configure GPG for non-interactive CI environment
  .github/workflows/cleanup-dev-files.yml
Labels: ci

fix: enable GPG signing for ci-framework-bot in CI environment (#26)
  .github/workflows/cleanup-dev-files.yml
Labels: ci

fix: handle GPG passphrase in CI environment
  .github/workflows/cleanup-dev-files.yml
Labels: ci

simplify: remove passphrase handling for GPG signing
  .github/workflows/cleanup-dev-files.yml
Labels: ci

Fresh bot test (#27)
  .github/workflows/cleanup-dev-files.yml
Labels: ci

chore: automated cleanup of development artifacts
  fresh-bot-test.tmp
  test-auto-merge.tmp
  test-gpg-workflow.tmp
Labels: none

test: trigger verified signature cleanup workflow
  verified-signature-test.tmp
Labels: none

fix: match commit email with GPG key email
  .github/workflows/cleanup-dev-files.yml
Labels: ci

test: final verification with corrected email
  final-verification-test.tmp
Labels: none

Fresh bot test (#29)
  .github/workflows/cleanup-dev-files.yml
  final-verification-test.tmp
  verified-signature-test.tmp
Labels: ci

chore: automated cleanup of development artifacts
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-auto-merge.tmp
  test-gpg-workflow.tmp
  verified-signature-test.tmp
Labels: none

fix: use GitHub private email for verified signatures
  .github/workflows/cleanup-dev-files.yml
Labels: ci

test: ultimate verification with new GPG key
  ultimate-verification-test.tmp
Labels: none

Fresh bot test (#31)
  .github/workflows/cleanup-dev-files.yml
  ultimate-verification-test.tmp
Labels: ci

chore: automated cleanup of development artifacts
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-auto-merge.tmp
  test-gpg-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

feat: create organization-level reusable cleanup workflow
  .github/workflows/cleanup-caller-example.yml
  .github/workflows/cleanup-dev-files.yml
Labels: ci

Fresh bot test (#33)
  .github/workflows/cleanup-caller-example.yml
  .github/workflows/cleanup-dev-files.yml
Labels: ci

fix: improve auto-merge logic with fallback approach
  .github/workflows/cleanup-dev-files.yml
Labels: ci

test: trigger improved auto-merge logic
  auto-merge-test.tmp
Labels: none

test: validate organization-level automation on new branch
  test-new-branch-workflow.tmp
Labels: none

test: validate organization-level CI automation (#34)
  .github/workflows/cleanup-dev-files.yml
  auto-merge-test.tmp
  test-new-branch-workflow.tmp
Labels: ci

fix: reference current branch for reusable workflow
  .github/workflows/cleanup-caller-example.yml
Labels: ci

Fix auto merge logic v2 (#35)
  .github/workflows/cleanup-caller-example.yml
Labels: ci

fix: add required permissions to caller workflow
  .github/workflows/cleanup-caller-example.yml
Labels: ci

fix: clean up YAML formatting issues
  .github/workflows/cleanup-caller-example.yml
Labels: ci

fix: add required permissions to reusable workflow caller (#36)
  .github/workflows/cleanup-caller-example.yml
Labels: ci

fix: properly define and pass organization secrets
  .github/workflows/cleanup-dev-files.yml
Labels: ci

fix: resolve organization secrets inheritance for reusable workflows (#37)
  .github/workflows/cleanup-dev-files.yml
Labels: ci

fix: add github.token fallback for missing organization secrets
  .github/workflows/cleanup-dev-files.yml
Labels: ci

debug: add logging to verify organization secrets availability
  .github/workflows/cleanup-dev-files.yml
Labels: ci

chore: automated cleanup of development artifacts
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-auto-merge.tmp
  test-gpg-workflow.tmp
  test-new-branch-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

chore: automated cleanup of development artifacts (#39)
  auto-merge-test.tmp
  final-verification-test.tmp
  fresh-bot-test.tmp
  test-auto-merge.tmp
  test-gpg-workflow.tmp
  test-new-branch-workflow.tmp
  ultimate-verification-test.tmp
  verified-signature-test.tmp
Labels: none

fix: update workflow reference after repository transfer
  .github/workflows/cleanup-caller-example.yml
Labels: ci
