Repository Claire-s-Monster/ci-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, feature, tests, performance

.github/labeler.yml:

# Configuration for the PR Labeler action.
# Defines which labels to apply based on file paths.

# Add 'ci' label to any changes within the .github directory
ci:
  - '.github/**'

# Add 'documentation' label to any changes in docs or markdown files
documentation:
  - 'docs/**'
  - '*.md'

# Add 'feature' label to changes in the source directory
feature:
  - 'src/**'

# Add 'tests' label to changes in the tests directory
tests:
  - 'tests/**'

# Add 'performance' label to performance-related files
performance:
  - 'tests/performance/**'
  - 'benchmarks/**'

feat: add Release Please automation for CHANGELOG generation
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  CHANGELOG.md
Labels: ci, documentation

fix: ensure pyproject.toml version is v2.1.0 for Release Please
  pyproject.toml
Labels: none

Feat/self healing readme docs (#53)
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: ci, documentation

fix: update Release Please configuration for proper automation
  .github/workflows/release-please.yml
  .release-please-config.json
Labels: ci

chore: trigger Release Please for v2.1.0 release
  .release-trigger
Labels: none

fix: correct Release Please configuration for v4 API
  .github/workflows/release-please.yml
  .release-please-config.json
Labels: ci

chore: release 2.1.0
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
Labels: ci, documentation

fix: resolve automated release workflow failures for v2.1.0
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  CHANGELOG.md
Labels: ci, documentation

Feat/self healing readme docs (#55)
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  CHANGELOG.md
Labels: ci, documentation

Development (#56)
  .github/workflows/release-please.yml
  CHANGELOG.md
Labels: ci, documentation

oddity
  .github/workflows/gemini-ai-analysis.yml
  GEMINI.md
  README.md
  ai_docs/gemini-github-actions.md
  docs/gemini-ai-integration.md
  examples/gemini-enabled-ci.yml
Labels: ci, documentation

Feat/self healing readme docs (#57)
  .github/workflows/gemini-ai-analysis.yml
  GEMINI.md
  README.md
  ai_docs/gemini-github-actions.md
  docs/gemini-ai-integration.md
  examples/gemini-enabled-ci.yml
Labels: ci, documentation

chore: automated cleanup of development artifacts
  ai_docs/gemini-github-actions.md
Labels: none

chore: automated cleanup of development artifacts (#58)
  ai_docs/gemini-github-actions.md
Labels: none

fix(ci): correct repository reference and remove unused imports
  .github/workflows/reusable-ci.yml
  framework/reporting/cli.py
Labels: ci

fix(ci): correct repository reference and remove unused imports
  .github/workflows/reusable-ci.yml
  framework/reporting/cli.py
Labels: ci

fix(ci): add framework/ paths to change detection filters
  .github/workflows/reusable-ci.yml
Labels: ci

fix(ci): fix YAML syntax error in gemini-ai-analysis.yml
  .github/workflows/gemini-ai-analysis.yml
Labels: ci

fix(quality): resolve pytest configuration conflict for PR #61
  pyproject.toml
Labels: none

fix(lint): resolve remaining lint violations for PR #61
  framework/performance/cli.py
  framework/reporting/cli.py
  framework/security/cli.py
Labels: none

fix(format): resolve formatting issues for PR #61
  framework/performance/cli.py
  framework/reporting/cli.py
  framework/security/cli.py
Labels: none

fix: CLI ImportError when run directly from workflow (#61)
  .github/workflows/gemini-ai-analysis.yml
  .github/workflows/reusable-ci.yml
  framework/performance/cli.py
  framework/reporting/cli.py
  framework/security/cli.py
  pyproject.toml
Labels: ci

ci: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Labels: ci

ci: add Dependabot configuration for automated dependency updates (#62)
  .github/dependabot.yml
Labels: ci

Development (#63)
  .github/dependabot.yml
  .github/workflows/gemini-ai-analysis.yml
  .github/workflows/reusable-ci.yml
  GEMINI.md
  README.md
  docs/gemini-ai-integration.md
  examples/gemini-enabled-ci.yml
  framework/performance/cli.py
  framework/reporting/cli.py
  framework/security/cli.py
  pyproject.toml
Labels: ci, documentation

fix(ci): remove invalid 'releases' permission from release-please workflow
  .github/workflows/release-please.yml
Labels: ci

fix(ci): remove invalid 'releases' permission from release-please workflow (#64)
  .github/workflows/release-please.yml
Labels: ci

feat(ci): add GPG signing for Release Please commits
  .github/workflows/release-please.yml
Labels: ci

feat(ci): add GPG signing for Release Please commits
  .github/workflows/release-please.yml
Labels: ci

feat(ci): add GPG signing for Release Please commits
  .github/workflows/release-please.yml
Labels: ci

feat(ci): add GPG signing for Release Please commits (#66)
  .github/workflows/release-please.yml
Labels: ci

fix(ci): use inline GPG import instead of external action
  .github/workflows/release-please.yml
Labels: ci

fix(ci): use inline GPG import instead of external action (#67)
  .github/workflows/release-please.yml
Labels: ci

fix(ci): update cleanup workflow ref from deleted branch to main
  .github/workflows/cleanup-caller-example.yml
Labels: ci

fix(ci): update cleanup workflow ref from deleted branch to main (#68)
  .github/workflows/cleanup-caller-example.yml
Labels: ci

chore(main): release 2.2.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

chore(main): release 2.2.0 (#65)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation

test(ci): use GITHUB_TOKEN for release-please to diagnose PAT issue
  .github/workflows/release-please.yml
Labels: ci

test(ci): use GITHUB_TOKEN for release-please to diagnose PAT issue (#69)
  .github/workflows/release-please.yml
Labels: ci

feat(ci): add manual GitHub Pages deployment workflow
  .github/workflows/deploy-pages.yml
Labels: ci
